USE [master]
GO
/****** Object:  Database [MyGlobalWallet]    Script Date: 13/10/2024 11:45:12 ******/
CREATE DATABASE [MyGlobalWallet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyGlobalWallet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyGlobalWallet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyGlobalWallet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyGlobalWallet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyGlobalWallet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyGlobalWallet]
GO
/****** Object:  Table [dbo].[PlatformPerUser]    Script Date: 13/10/2024 11:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformPerUser](
	[UserID] [int] NOT NULL,
	[PlatformID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 13/10/2024 11:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[App] [nvarchar](50) NOT NULL,
	[Logo] [nvarchar](50) NULL,
	[DateCreated] [date] NOT NULL,
 CONSTRAINT [PK_Platforms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shares]    Script Date: 13/10/2024 11:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shares](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Acronym] [nvarchar](10) NULL,
	[BuyPrice] [decimal](18, 2) NOT NULL,
	[BuyDate] [date] NOT NULL,
	[Units] [decimal](18, 6) NOT NULL,
	[Investment] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[UserID] [int] NOT NULL,
	[PlatformID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/10/2024 11:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](10) NULL,
	[DateCreated] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PlatformPerUser] ([UserID], [PlatformID]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Platforms] ON 

INSERT [dbo].[Platforms] ([ID], [App], [Logo], [DateCreated]) VALUES (1, N'ETORO', N'', CAST(N'2024-10-13' AS Date))
SET IDENTITY_INSERT [dbo].[Platforms] OFF
GO
SET IDENTITY_INSERT [dbo].[Shares] ON 

INSERT [dbo].[Shares] ([ID], [Name], [Acronym], [BuyPrice], [BuyDate], [Units], [Investment], [Currency], [UserID], [PlatformID]) VALUES (1, N'Marvell Technology Group Ltd', N'MRVL', CAST(69.73 AS Decimal(18, 2)), CAST(N'2024-08-22' AS Date), CAST(6.080600 AS Decimal(18, 6)), CAST(424.00 AS Decimal(18, 2)), N'$', 1, 1)
SET IDENTITY_INSERT [dbo].[Shares] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [User], [Password], [Country], [DateCreated]) VALUES (1, N'Luispa11', N'Test123', N'ES', CAST(N'2024-10-13' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_App]    Script Date: 13/10/2024 11:45:12 ******/
ALTER TABLE [dbo].[Platforms] ADD  CONSTRAINT [UC_App] UNIQUE NONCLUSTERED 
(
	[App] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_User]    Script Date: 13/10/2024 11:45:12 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UC_User] UNIQUE NONCLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Platforms] ADD  CONSTRAINT [DF_Platforms_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Shares] ADD  DEFAULT ('€') FOR [Currency]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[PlatformPerUser]  WITH CHECK ADD FOREIGN KEY([PlatformID])
REFERENCES [dbo].[Platforms] ([ID])
GO
ALTER TABLE [dbo].[PlatformPerUser]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD FOREIGN KEY([PlatformID])
REFERENCES [dbo].[Platforms] ([ID])
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
USE [master]
GO
